*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h3
{
  text-align: center;
}

.canvasDiv canvas
{
  margin: 0 auto;
  display: block;
}

.rules
{
  margin-top: 2%;
}
.rules ul
{
  text-align: center;
}

button
{
  display: inline-block;
  margin-left: 50%;
}

p
{
  text-align: center;
}